@model pdvInfraestrutura.Model.Carrinho

@{
    Layout = null;


    //List<SistemaDemanda.ViewModel.DemandaViewModel> DemandaSinteticaCategoria = ViewBag.DemandaSinteticaCategoria as List<SistemaDemanda.ViewModel.DemandaViewModel>;
    //List<pdvWeb.Models.ViewModelCarrinhoItem> items = ViewBag.Itens as List<pdvWeb.Models.ViewModelCarrinhoItem>;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carrinho</title>
</head>
<body>

    <h4>Carrinho</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Carrinho">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="DataAbertura" class="control-label"></label>
                    <input asp-for="DataAbertura" class="form-control" />
                    <span asp-validation-for="DataAbertura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoginUsuarioAbertura" class="control-label"></label>
                    <input asp-for="LoginUsuarioAbertura" class="form-control" />
                    <span asp-validation-for="LoginUsuarioAbertura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataFechamento" class="control-label"></label>
                    <input asp-for="DataFechamento" class="form-control" />
                    <span asp-validation-for="DataFechamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoginUsuarioFechamento" class="control-label"></label>
                    <input asp-for="LoginUsuarioFechamento" class="form-control" />
                    <span asp-validation-for="LoginUsuarioFechamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">

            @*public int Id { get; set; }
        public int Ordem { get; set; }
        public Carrinho Carrinho { get; set; }
        public Item Item { get; set; }
        public double Quantidade { get; set; }
        public double Preco { get; set; }
        public double Desconto { get; set; }*@

            @*select new { ci.Id, ci.Ordem, ci.Item.Nome, ci.Quantidade, ci.Preco, ci.Desconto, Total = (ci.Quantidade * (ci.Preco - ci.Desconto)) }*@

            <table>
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Ordem</th>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Desconto</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Itens)
                    {
                    <tr>

                        @*<td>@item[0]</td>
        <td>@item[1]</td>
        <td>@item[2]</td>
        <td>@item[3]</td>
        <td>@item[4]</td>
        <td>@item[5]</td>*@
                                                
                        <td>@item.Id</td>
                        <td>@item.Ordem</td>
                        <td>@item.Nome</td>
                        <td>@item.Quantidade</td>
                        <td>@item.Preco</td>
                        <td>@item.Desconto</td>
                        <td>@item.Total</td>

                        <td>
                            @Html.ActionLink("Remover", "Excluir", new { id = item.Id }, new { @class = "icon-cancel" })
                            @Html.RouteLink("Editar", "PostEditar", new { id = item.Id }, new { @class = "icon-edit" })
                        </td>
                                        
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</body>
</html>
